<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

    <title th:text="${title}"></title>

<nav th:replace="fragments :: navigation" ></nav>
<body class="container">

<form method="post">

    <div th:each="cheese : ${cheeses}" class="checkbox">

        <input type="checkbox"  name="cheeseIds" th:id="${cheese.cheeseId}" th:value="${cheese.cheeseId}" />
        <label th:for="${cheese}" th:text="${cheese.name}"></label>
        <br/>
    </div>
    <input type="submit" value="Remove Cheese"/>
</form>


</body>
</html>